@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<img class="text-center" src="~/img/joel.jpg" />
<br />
<br />

<div>
    <a asp-controller="Home" asp-action="MovieForm">Enter in a Movie</a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>
