@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">Click Below to go to Joel's Podcast!</h1>
    <a class="text-center" href="https://baconsale.com">Go to Podcast</a>
</div>


